@font-face {
    font-family: kulen;
    src: url(../font/Koulen/Koulen-Regular.ttf);
  }

@font-face {
    font-family: siemreap;
    src: url(../font/Siemreap/Siemreap-Regular.ttf);
  }

@font-face {
    font-family: kantumruy-light;
    src: url(../font/kantumruy/Kantumruy-Regular.ttf);
}

@font-face {
    font-family: kantumruy-bold;
    src: url(../font/kantumruy/Kantumruy-Bold.ttf);
}

* {
    font-family: kantumruy-light;
}
.kh-kantumruy{
    font-family: kantumruy-light;
}  
.kh-kantumruy-bold{
    font-family: kantumruy-bold;
}
.kh-kulen {
    font-family: kulen;
}
.kh-sr{
    font-family: siemreap;
}
.nav-bg-cl{
    background-color: #212529;

    color: white;
    /* text-shadow: 1px 1px #626262; */
    box-shadow: 1px 1px 9px #212529;
}
#navbar_top{
    background-color: none!important;
}
#head {
    /* width: 100%;
    height: 50vh;
    background: url(./images/asr/bgasr.jpeg) top center;
    background-size: cover;
    position: relative; */
    width: 100%;
    background:linear-gradient(to right,#1c2b4638, #153c5a3a),url("../images/asr/bgasr.jpeg");
    /* background-image:  */
    min-height: 60vh;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.fillspace{
    width: 100%;
    background:url("../images/asr/rec-asr.png");
    /* background-image:  */
    min-height: 50vh;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.bk-head{
    width: 100%;
    color: white;
}

.bk-head h1{
    width: 100%;
    text-align: center;
    font-family: kantumruy-bold;
    text-shadow: 1px 1px #626262;
    font-size: 2rem;
}

.bk-head div{
    width: 100%;
    text-align: center;
    font-family: kantumruy-light;
    text-shadow: 1px 1px #626262;
    font-size: 1rem;
    line-height: 2;
}
.box-download{
    background-color: #f2f2f2;
    text-align: center;
    font-family: kantumruy-bold;
}
.content-download{
    max-width: 10rem;
}

#download .card{
    width: 150px; margin: auto;
}
  
.infor-head{
    text-align: left;
    font-family: kantumruy-bold;
    /* text-shadow: 1px 1px #626262; */
    font-size: 1rem;
}

.detail-head{
    text-align: left;
    font-family: kantumruy-light;
    /* text-shadow: 1px 1px #626262; */
    font-size: 1rem;
    line-height: 2;
}

.fulljustify{
    text-align: justify;
}

#footer{
    background-color:#375696;
    color:#f2f2f2;
}
#footer a:link{
    color: #f2f2f2;
}
.copyright{
    background-color: #004382;
    color: #f2f2f2;
}